body {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-family: 'IBM Plex Sans', sans-serif;
}

a:link {
    color:#1661AB;
}

a:hover {
    border-radius: 3pt;
    padding: 2pt;
    color:white;
    background-color:#a65c12
}
